.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background: #c8bab1a4;
}

.header-container {
  padding: 30px 10px 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__body {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  position: relative;
}
.burger__logo {
  display: none;
}
.header-logo__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  font-weight: 700;
}

.menu__icon {
  display: none;
}
.header-menu__list {
  width: 460px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-menu__items {
  font-size: 18px;
  line-height: 160%;
}

.header-menu__items-link {
  color: #000000;
}
.header-menu__items-link:hover {
  color: #3f3029;
  text-decoration: underline #ddbe0cde;
}

.page-start {
  padding-bottom: 30px;
}

.start__body {
  display: flex;
  justify-content: space-around;
}

.main_image {
  border: 3px solid #976363be;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.page-title {
  padding: 25px 0;
  font-size: 3em;
  animation-duration: 3s;
  animation-name: slideFromLeft;
}

@keyframes slideFromLeft {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.start__subtitle {
  font-size: 1.5em;
  animation-duration: 3s;
  animation-name: slideFromRight;
}

@keyframes slideFromRight {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.about-me {
  background: #c4d0dc9c;
}
.page-container {
  padding: 80px 0 100px 0;
}
.about-me-container {
  max-width: 1200px;
  padding: 30px 10px 50px;
}

.about-me-body {
  display: flex;
  flex-direction: row-reverse;
  min-height: 408px;
}
.about-me__image {
  margin: auto 0 auto 50px;
  width: 50%;
}
.about-me__certificate {
  display: block;
  max-width: 100%;
}
.about-me__text {
  width: 50%;
}

.about-me__subtitle {
  font-size: 1.3em;
  line-height: 160%;
}

.my-education {
  background: #c8bab1a4;
}

.education-body {
  padding: 0 20px;
}

.education-title {
  text-align: center;
  padding-bottom: 45px;
}

.education-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.education-item {
  width: 300px;
  height: 240px;
  border-radius: 10px;
  margin: 0 auto 25px auto;
  transition: 0.5s;
}

.education-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px 10px #c8bab1f5;
  transition: 0.5s;
}

.education-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.education-item-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7em;
  font-weight: 800;
}

.education-item-subtitle {
  font-size: 1.4em;
  font-weight: 600;
}

.education-item-years {
  margin: 15px 0;
  font-size: 1.3em;
  font-style: italic;
}

.skills-section {
  background: #c4d0dc9c;
}

.skills__title {
  text-align: center;
  padding-bottom: 45px;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.skills__item {
  width: 100px;
  height: 100px;
  margin: 0 15px 15px 0;
}

.my__skills-img {
  width: 100%;
  height: 100%;
}

.footer {
  background: #3d4961a2;
  padding: 0 20px;
}

.contacts-body {
  display: flex;
  flex-direction: column;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts-item {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.contacts-item:hover {
  font-size: 1.8em;
  transition: 0.5s;
}

.contacts-github,
.contacts-linkedin {
  width: 100px;
  height: 100px;
}

.contacts-github:hover,
.contacts-linkedin:hover {
  transition: 0.5s;
}

.img__github,
.img__linkedin {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) and (min-width: 320px) {
  body._lock {
    overflow: hidden;
    background: #29292999;
  }

  .header-container {
    width: 100%;
    padding: 30px 0 60px 0;
    margin: 0 0 0 10px;
  }

  .header__logo._lock {
    display: none;
  }

  .burger__logo {
    display: block;
    margin: 30px 0 0 10px;
    width: 186px;
  }

  .burger-logo__title {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin-bottom: 10px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 823px;
    background-color: #5c5b5b;
    transition: right 1.5s ease 0s;
    overflow: auto;
  }

  .header__menu._active {
    right: 0;
  }

  .header-menu__list {
    flex-direction: column;
    justify-content: start;
    width: 243px;
    margin: 50px auto 0 auto;
    height: auto;
  }

  .header-menu__items-link {
    font-size: 32px;
    line-height: 160%;
  }

  .menu__icon {
    display: block;
    position: absolute;
    min-width: 30px;
    height: 24px;
    cursor: pointer;
    margin-top: 18px;
    right: 58px;
    z-index: 5;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate((0px, -50%));
  }

  .menu__icon._active {
    width: 26px;
    height: 30px;
  }

  .menu__icon._active::before {
    left: -21%;
    top: 35%;
    transform: rotate(90deg);
  }

  .menu__icon._active span {
    top: 35%;
    left: 12%;
    transform: rotate(90deg);
  }

  .menu__icon._active::after {
    left: 45%;
    top: 35%;
    transform: rotate(90deg);
  }

  .header__menu._active .wrapper {
    background-color: black;
  }

  .menu__icon {
    display: block;
    position: absolute;
    min-width: 30px;
    height: 24px;
    cursor: pointer;
    margin-top: 18px;
    right: 58px;
    z-index: 5;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease 0s;
    background-color: #181616;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate((0px, -50%));
  }

  .page-title {
    padding: 15px 0;
    font-size: 2em;
  }
  .page-container {
    padding: 40px 0 50px 0;
  }

  .start-body__image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .start__body {
    flex-direction: column-reverse;
  }

  .start-body__text {
    margin: 0 0 15px 55px;
  }

  .about-me-body {
    flex-direction: column-reverse;
  }

  .about-me__text {
    width: 100%;
    padding: 0 10px 25px 25px;
  }

  .about-me__image {
    margin: 0 auto;
    width: 100%;
  }

  .contacts-list {
    flex-direction: column;
  }

  .contacts-item {
    margin-bottom: 15px;
  }

  .contacts-github,
  .contacts-linkedin {
    width: 50px;
    height: 50px;
  }
}
